<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Web Shop</a>
  <button class="navbar-toggler" type="button" data-toggle="f" data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="f navbar-f" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/home">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link active" href="/deals">Deals <span class="sr-only">(current)</span></a>
    </div>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>